.projetos {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.projetos div {
    width: 22%;
    border-radius: 20px;
    box-shadow: 3px 3px 12px 1px rgba(0,0,0,0.5);
    padding: 1%;
    margin-bottom: 2%;
    transition: 0.7s all;
}

.projetos div:hover {
    transform: scale(1.05);
}

.projetos div img {
    width: 100%;
}

.projetos div h3 {
    font-size: 1.5rem;
    color: #3a4a50;
}

.projetos div button {
    margin-top: 20px;
    outline: none;
    background: #0abde3;
    color: #FFF;
    border-radius: 20px;
    font-weight: bold;
    border: 2px solid transparent;
    cursor: pointer;
    padding: 10px;
}

.projetos div button:hover {
    border: #2a8195;
}

.contato h2 {
    width: 100%;
}

.contato form {
    width: 60%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    padding: 2%;
    border-radius: 20px;
    box-shadow: 3px 3px 18px 1px rgba(0,0,0,0.5);
    background-color: rgba(179,179,179,0.1);
}

.contato form label {
    font-size: 1.3rem;
    margin-bottom: 5px;
}

.contato form input, .contato form textarea {
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #2d3436;
}

.contato form input:focus, .contato form textarea:focus {
    outline: none;
    border-color: #0abde3;
}

.contato form button {
    padding: 10px;
    border-radius: 10px;
    background: #0abde3;
    color: white;
    border: none;
    cursor: pointer;
    transition: 0.5 all;
}

.contato form button:hover {
    background: #0fa1c2;
}