@import url('https://fonts.googleapis.com/css2?family=SUSE+Mono:ital,wght@0,100..800;1,100..800&display=swap');

* {
    margin: 0%;
}

body {
    font-family: "SUSE Mono";
    background-color: bisque;
}

h1 {
    color: blueviolet;
    font-size: 3rem;
}

img {
    margin: 1rem;
}

nav ul {
    tex;
}

button {
    color: black;
    background-color: blueviolet;
    margin: 1rem;
    padding: 2rem;
    border: 0.5rem solid;
    border-color: aquamarine;
    font-size: 2rem;
}

a {
     text-decoration: none;
}

h2 {
    text-align: center;
    font-size: 2rem;
}

h2:hover {
    color: brown
}

footer {
    background-color: red;
    padding: 0.5rem;
}