@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


* {
    box-sizing: border-box;
}

body {
    font-family: "Montserrat", sans-serif;
    color: #2d3436;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: 0 auto;
}

header {
    background-color: #35424a;
    color: #FFF;
    padding-top: 10px;
    min-height: 70px;
    border-bottom: 5px solid #e8491d;
}

header h1 {
    text-align: center;
    margin: 0;
    color: #a857b8;
    padding-bottom: 10px;
}

header nav {
    text-align: center;
}

header nav ul {
    padding: 0;
    list-style: none;
}

.list-item {
    display: inline;
}

.list-item a {
    color: #FFF;
    text-decoration: none;
    font-size: 18px;
    margin: 0 5px;
}

.list-item a:hover {
    color: #e8491d;
}


.sobre-min {
    margin-bottom: 40px;
}

.sobre-min img {
    display: block;
    margin: 10px auto;
}

.sobre-min h2 {
    color: #35424a;
    text-align: center;
}

.sobre-min p {
    text-align: center;
    padding-bottom: 10px;
    border-bottom: 2px solid #e8491d;
}

.habilidades h2{
    color: #35424a;
    text-align: center;
}

.habilidades ol {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.habilidades ol li {
    border: 1px solid #585757;
    min-width: 100px;
    text-align: center;
    font-weight: bold;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
    transition: all .8s;
}

.habilidades ol li:hover {
    -webkit-box-shadow: 3px 3px 12px 1px rgba(0,0,0,0.7); 
    box-shadow: 3px 3px 12px 1px rgba(0,0,0,0.7);
}

footer {
    margin-top: 50px;
    padding: 5px;
    display: block;
    background-color: #8dccdd;
    color: #35424a;
    text-align: center;
}

p {
    margin: 0;
}

